.barra {
    display: flex;
    position: fixed;
    background-color: #444;
    width: 100%;
    bottom: 89%;
}

.imagen{
    height: 5em;
    
}
.caja-opciones{
    position: relative;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.opciones{
    position: relative;
    justify-content: space-between;
    background-color: #222;
    width: 6em;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    line-height: 80px;

}
.opciones:hover{
    color: #000;
    background-color: #fff;
}
.imagen:hover {
    animation: cubic-bezier(0.645, 0.045, 0.355, 1);
}
